[flake8]
max-line-length = 100
exclude = 
    .venv,
    */migrations/*,
    */venv/*,
    env,
    venv
ignore = 
    # Игнорируем слишком длинные строки для migration файлов и тестов
    E501,
    # Игнорируем неиспользуемые переменные в тестах (часто используется для фикстур)
    F841
per-file-ignores =
    */tests/*:F841,E501
    */migrations/*:E501
